.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 72px;
}
.add__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media screen and (max-width: 1290px) {
  .add__offers {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media screen and (max-width: 850px) {
  .add__offers {
    margin-top: 37px;
  }
}
@media screen and (max-width: 700px) {
  .add__offers {
    margin: 0 0 42px;
  }
}
.add__offer {
  font-family: "Lato", arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #808080;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: end;
}
@media screen and (max-width: 1290px) {
  .add__offer {
    text-align: start;
  }
}
.add__offer:last-child {
  margin-bottom: 0;
}
.add__banks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media screen and (max-width: 1290px) {
  .add__banks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.add__banks #mir {
  max-width: 46px;
  height: 13px;
}
.add__banks #visa {
  max-width: 45px;
  height: 14px;
}
.add__banks #master {
  max-width: 48.33px;
  height: 29px;
}